# Local environment files
.env
.env.backup
.env.production
.env.local
.env.*.local

# Vendor & Node dependencies
/vendor/
/node_modules/

# Compilation / Build assets
/public/build/
/public/hot/
/public/storage
/public/fonts-manifest.dev.json

# Storage & Log files
*.log
/storage/*.key
/storage/pail
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/

# Testing & Cache
.phpunit.result.cache
/.phpunit.cache/
/.phpactor.json

# OS files
.DS_Store
Thumbs.db

# IDEs
/.idea/
/.nova/
/.zed/
/.codex/
/.cursor/
/.vscode/*
!.vscode/settings.json

# Laravel specific
_ide_helper.php
Homestead.json
Homestead.yaml
